*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{
    width: auto;
    height: auto;
    border: 10px solid rgb(94, 109, 122);
    border-radius: 5px;
    padding:  15px 15px;
    background-color: cornflowerblue;
}
input{
    margin: 10px 10px;
    pointer-events: none;
    font-size: 25px;
    height: 50px;
    border-radius: 10px;
    border: none;
}
button{
    margin: 2px 4px;
    width: 70px;
    height: 70px;
    font-size: 20px;
    cursor: pointer;
} 
#eql{
    color: rgb(4, 0, 255);
    font-weight: bold;
    font-size: 30px;
}
#clr{
    color: red;
    font-weight: bold;
    font-size: 30px;
}
#oprt{
    color: rgb(255, 0, 242);
    font-weight: bold;
    font-size: 30px;
}
#bck{
    color: chocolate;
    font-weight: bold;
}